SECRET_KEY=change-me-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@db:5432/legal_analytics
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Суперпользователь (создаётся автоматически при первом запуске)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin123
DJANGO_SUPERUSER_EMAIL=admin@example.com
